#root,
html,
body {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #0f2c41;
  color: #f3f5f6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f3f5f6;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: #0d73a7;
  padding: 6px;
  font-size: 18px;
}
.navbar a:hover {
  color: #f3f5f6;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* this is for the search page*/
input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}

.search {
  transform: translate(0, 0%);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.search label {
  text-align: left;
  display: block;
}
.search h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.search input,
.search textarea,
.search select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.search button {background: #0d73a7;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  font-family: monospace;
  cursor: pointer;
}

/* chat page  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: monospace;
}

.b-chat {
  width: 90%;
  margin: 0 5%;
  padding: 1em 0;

  height: 100%;
}
.b-chat__container {
  max-width: 500px;
  margin: auto;
  height: 100%;
}

#chat,
.c-chat {
  height: 100%;
}

.c-chat {
  display: flex;

  position: relative;
  height: 30vh;
  font-size: 1em;
}
.c-chat > ul {
  top: 10%;
  left: 37.5%;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.c-chat__list {
  margin: 0;
  padding: 0;

  overflow-x: visible;
  height: 90%;
}
.c-chat__list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.c-chat__list .c-chat__item {
  text-align: left;
  margin-bottom: 1em;
}
.c-chat__list .c-chat__item--human {
  text-align: right;
}
.c-chat__list .c-chat__item--human .c-chat__message {
  background: #00ac92;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}
.c-chat__list .c-chat__message {
  display: inline-block;
  background: #fff;
  color: #222;
  padding: 0.6em;
  border-radius: 10px;
  border-top-left-radius: 0;
  animation-name: bounceIn;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
.c-chat__item--human .c-chat__list .c-chat__message {
  background: #00ac92;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}
.c-chat__list .c-chat__action {
  border-bottom: 1px dotted #fff;
  color: #fff;
  padding: 0.6em;
  display: inline-block;
  animation-name: bounceIn;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  margin-right: 0.8em;
}
.c-chat__list .c-chat__action:hover {
  border-bottom: 1px dotted transparent;
}
.c-chat__form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.a-form input {
  padding: 1em;
  width: 100%;
  border: none;
  font-family: monospace;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  opacity: 1;
  transition: opacity 0.4s;
}
.a-form input,
.a-form input:focus {
  outline: none;
}
.c-chat--ready input {
  opacity: 1;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*      landing news card

*/

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  width: 510px;
  height: 540px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.contentBox h1 {
  margin: 5px;
  font-family: monospace;
}
.contentBox h2 {
  margin: 15px;
  font-family: monospace;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #0d73a7;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "ALAN AI";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(61, 61, 61, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

/*
.card .imgBox img {
    max-width: 100%;

    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;

}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #f3f5f6;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}

.searchBtn {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  width: 90px;
  height: 30px;
  padding: 25px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 180px;
}

.searchBtn-container {
  display: flex;
}

/* search page api part css  */

.output {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 40px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 100vh;
  transform: translateX(-160px);
  background: linear-gradient(to right, #0d73a7 0%, #f8b9d9 100%);
}
.output a {
  color: #023c64;
}
.output div {
  flex-direction: column;
  font-size: 17px;

  color: whitesmoke;
  margin: 30px;
  /* background-color: white;*/
}

.output span {
  display: none;
}
.output :hover {
  color: #0af5f1bb;
  font-size: 18px;
}
